footer {
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding: 30px 0px 10px 0px;
    z-index: 10000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 5px black;
    .container-footer {
        display: flex;
        justify-content: space-between;
        width: 90%;
        .address {
            align-self: flex-start;
            width: 30%;
            p {
                margin-bottom: 20px;
                font-size: 21px;
                color: rgb(0, 42, 133);
                font-weight: 600;
                @media (max-width: 850px) {
                    font-size: 16px;
                }
            }
            ul {
                list-style-type: none;
                li {
                    margin: 15px 0px;
                    font-size: 16px;
                    @media (max-width: 850px) {
                        font-size: 11px;
                    }
                }
            }
        }
        .about {
            display: flex;
            flex-direction: column;
            width: 40%;
            p {
                font-size: 16px;
                line-height: 35px;
                &:nth-child(1) {
                    align-self: flex-start;
                    font-size: 21px;
                    color: rgb(0, 42, 133);
                    font-weight: 600;
                    @media (max-width: 850px) {
                        font-size: 16px;
                    }
                }
                @media (max-width: 850px) {
                    font-size: 11px;
                }
            }
        }
        .follow-us {
            width: 30%;
            display: flex;
            flex-direction: column;
            padding-left: 11%;
            p {
                margin-bottom: 20px;
                font-size: 21px;
                color: rgb(0, 42, 133);
                font-weight: 600;
                @media (max-width: 850px) {
                    font-size: 16px;
                }
            }
            .links {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                max-width: 300px;
                a {
                    display: block;
                    border: 2px solid rgb(73, 73, 73);
                    padding: 10px;
                    border-radius: 999px;
                    &:hover {
                        background: rgba(207, 226, 255, 0.712);
                        border-color: rgba(0, 102, 255, 0.712);
                        i {
                            color: blue;
                        }
                    }
                    i {
                        font-size: 25px;
                        color: black;
                    }
                }
                @media (max-width: 1150px) {
                    a {
                        padding: 5px;
                        i {
                            font-size: 20px;
                        }
                    }
                }
                @media (max-width: 850px) {
                    a {
                        padding: 2px;
                        i {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    .droit-reserve {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        @media (max-width: 850px) {
            font-size: 11px;
        }
    }
    @media (max-width: 580px) {
        padding: 20px 0px 5px 0px;
        .container-footer {
            .address {
                p {
                    margin-bottom: 10px;
                    font-size: 12px;
                }
                ul {
                    li {
                        margin: 8px 0px;
                        font-size:8px;
                    }
                }
            }
            .about {
                p {
                    font-size: 8px;
                    line-height: 20px;
                    &:nth-child(1) {
                        font-size: 12px;
                    }
                }
            }
            .follow-us {
                p {
                    margin-bottom: 12px;
                    font-size: 12px;
                }
                .links {
                    max-width: 200px;
                    a {
                        padding: 0px;
                        i {
                            font-size: 11px;
                            margin: 0px 3px;
                        }
                    }
                    @media (max-width: 490px) {
                        a {
                            border: 1px solid rgb(73, 73, 73);
                            i {
                                font-size: 10px;
                                margin: 0px 2px;
                            }
                        }
                    }
                }
            }
        }
        .droit-reserve {
            font-size: 8px;
        }
    }
    @media (max-width: 490px) {
        padding: 20px 0px 5px 0px;
        .container-footer {
            .address {
                p {
                    margin-bottom: 7px;
                    font-size: 9px;
                }
                ul {
                    li {
                        margin: 5px 0px;
                        font-size: 7px;
                    }
                }
            }
            .about {
                p {
                    font-size: 7px;
                    line-height: 16px;
                    &:nth-child(1) {
                        font-size: 9px;
                    }
                }
            }
            .follow-us {
                p {
                    margin-bottom: 8px;
                    font-size: 9px;
                }
                .links {
                    max-width: 150px;
                    a {
                        padding: 0px;
                        i {
                            font-size: 8px;
                            margin: 0px 1px;
                        }
                    }
                }
            }
        }
        .droit-reserve {
            font-size: 7px;
        }
    }
}

footer.dark {
    background-color: rgb(7, 7, 7);
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    .container-footer {
        .address {
            color: white;
            p {
                color: rgb(93, 144, 255);
            }
        }
        .about {
            p {
                color: white;
                &:nth-child(1) {
                    color: rgb(93, 144, 255);
                }
            }
        }
        .follow-us {
            p {
                color: rgb(93, 144, 255);
            }
            .links {
                a {
                    border: 2px solid rgb(134, 134, 134);
                    &:hover {
                        background: rgba(45, 50, 56, 0.712);
                        border-color: rgba(255, 255, 255, 0.712);
                        i {
                            color: rgb(212, 212, 255);
                        }
                    }
                    i {
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
    .droit-reserve {
        color: white;
    }
}