.presentation {
    margin-top: 70px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (max-width: 625px) {
        margin-top: 45px;
    }
    .home {
        width: 100%;
        height: auto;
        font-family: Geologica;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.8)), url(".././assets/bgHome.webp");
        background-size: cover;
        p {
            font-weight: 300;
            font-size: 60px;
            line-height: 80px;
            color: rgb(255, 255, 255);
            text-align: center;
            &:nth-child(1) {
                margin-top: 5%;
            }
        }
        .slogan {
            font-size: 45px;
            margin-top: 5%;
            font-weight: 200;
            margin-bottom: 7%;
            @media (max-width: 1285px) {
                font-size: 35px;
            }
        }
        .btn-get-started {
            margin-bottom: 50px;
            font-size: 20px;
            font-weight: 600;
            color: white;
            background-color: rgb(24, 103, 206);
            padding: 20px 40px;
            border-radius: 999px;
            border: 1px solid rgb(255, 255, 255);
            cursor: pointer;
            text-decoration: none;
            &:hover {
                background-color: rgb(0, 15, 231);
            }
        }
        @media (max-width: 975px) {
            p {
                font-size: 50px;
            }
            .slogan {
                font-size: 25px;
            }
            .btn-get-started {
                font-size: 15px;
                padding: 15px 35px;
            }
        }
        @media (max-width: 700px) {
            p {
                font-size: 35px;
            }
            .slogan {
                font-size: 15px;
            }
            .btn-get-started {
                font-size: 10px;
                padding: 10px 20px;
            }
        }
        @media (max-width: 425px) {
            p {
                font-size: 30px;
            }
            .slogan {
                font-size: 11px;
            }
            .btn-get-started {
                font-size: 7px;
                padding: 7px 17px;
            }
        }

    }
    .why-income-expense {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: rgb(230, 242, 255);
        padding: 30px 30px;
        box-shadow: 0px 0px 6px rgb(97, 171, 250);
        h3 {
            font-size: 50px;
            font-weight: 600;
            color: black;
            text-align: center;
            margin: 0px 20px 50px 20px;
            span {
                color: rgb(0, 110, 16);
                &:nth-child(2) {
                    color: rgb(203, 31, 31);
                }
            }
            @media (max-width: 850px) {
                font-size: 40px;
            }
        }
        .container-answers {
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px 30px;
            .answer {
                width: 400px;
                height: auto;
                background-color: white;
                padding: 20px;
                border-radius: 15px;
                box-shadow: 0px 0px 5px black;
                i {
                    font-size: 50px;
                    color: rgb(0, 95, 173);
                    margin-bottom: 20px;
                }
                p {
                    font-size: 20px;
                    font-weight: 100;
                    line-height: 35px;
                    &:nth-child(2) {
                        font-size: 30px;
                        color: rgb(0, 95, 173);
                        font-weight: 600;
                        margin-bottom: 15px;
                    }
                }
            }
        }
        @media (max-width: 700px) {
            padding: 20px 20px;
            h3 {
                margin: 30px 10px 20px 10px;
                font-size: 25px;
            }
            .container-answers {
                .answer {
                    width: 200px;
                    padding: 10px;
                    border-radius: 5px;
                    box-shadow: 0px 0px 2px black;
                    i {
                        font-size: 30px;
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 10px;
                        line-height: 20px;
                        &:nth-child(2) {
                            font-size: 20px;
                            margin-bottom: 7px;
                            line-height: 25px;
                        }
                    }
                }
            }
        }
    }
}

.presentation.dark {
    .home {
        .btn-get-started {
            background-color: rgb(48, 48, 48);
            border: 3px solid rgb(0, 0, 0);
            &:hover {
                background-color: rgb(102, 102, 102);
            }
        }
    }
    .why-income-expense {
        background-color: rgb(50, 53, 56);
        box-shadow: 0px 0px 6px rgb(255, 255, 255);
        h3 {
            color: rgb(255, 255, 255);
        }
        .container-answers {
            .answer {
                background-color: rgb(0, 0, 0);
                box-shadow: 0px 0px 5px rgb(255, 255, 255);
                i {
                    color: rgb(0, 140, 255);
                }
                p {
                    color: white;
                    &:nth-child(2) {
                        color: rgb(0, 140, 255);
                    }
                }
            }
        }
    }
}