.container-user-information {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .user-information {
        max-width: 850px;
        width: 100%;
        height: auto;
        margin-top: 70px;
        display: flex;
        align-items: center;
        flex-direction: column;
        h3 {
            margin: 30px 0px;
            font-size: 40px;
            font-weight: 600;
        }
        .description {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            .txt-description {
                max-width: 500px;
                margin-right: 70px;
                .title-txt-description {
                    font-size: 28px;
                    margin-bottom: 10px;
                    text-align: justify;
                    .title-txt-description-income {
                        color: green;
                    }
                    .title-txt-description-expense {
                        color: red;
                    }
                }
                .paragraphe-description {
                    font-size: 18px;
                    color: rgb(48, 48, 48);
                    text-align: justify;
                    line-height: 30px;
                }
            }
            .img-description {
                margin-left: 10px;
            }
        }
        .form-update-user {
            width: 100%;
            .container-infos  {
                border: 1px solid rgb(211, 211, 211);
                border-radius: 10px;
                margin-bottom: 30px;
                height: auto;
                width: 100%;
                h4 {
                    font-size: 25px;
                    font-weight: 400;
                    margin: 20px 0px 30px 20px;
                }
                .info {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid rgb(211, 211, 211);
                    padding: 20px 30px 20px 20px;
                    cursor: pointer;
                    &:hover {
                        background-color: rgb(241, 241, 241);
                    }
                    .label {
                        font-size: 15px;
                        width: 25%;
                        font-family: Varela Round, Geoligica, Verdana, Geneva, Tahoma, sans-serif;
                        cursor: pointer;
                    }
                    .input {
                        border: none;
                        font-size: 18px;
                        width: 50%;
                        background-color: transparent;
                        outline: none;
                        cursor: pointer;
                        color: black;
                        font-family: Varela Round, Geoligica, Verdana, Geneva, Tahoma, sans-serif;
                    }
                    #file-img {
                        min-width: 0px;
                    }
                    i {
                        font-size: 20px;
                        color: rgb(77, 77, 77);
                    }
                }
                .info.picture-profil {
                    padding: 0px 30px 0px 20px;
                    label {
                        width: auto;
                    }
                    .file-img-picture {
                        margin-top: 20px;
                        p {
                            font-size: 35px;
                            font-weight: 600;
                            background-color: rgb(112, 78, 206);
                            border-radius: 9999px;
                            width: 60px;
                            height: 60px;
                            color: white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                        }
                        .icone-camera {
                            position: relative;
                            top: -25px;
                            left: 3%;
                            background-color: rgba(0, 0, 0, 0.24);
                            width: 56px;
                            height: 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 0px 0px 9999px 9999px;
                            i {
                                font-size: 15px;
                                color: rgb(224, 224, 224);
                            }
                        }
                    }
                    .img-profil-picture {
                        margin-top: 20px;
                        margin-bottom: 20px;
                        border-radius: 9999px;
                        width: 60px;
                        height: 60px;
                        cursor: pointer;
                    }
                }
                .info.gender-profil, .info.phone-profil {
                    border-bottom: none;
                    border-radius: 0px 0px 10px 10px;
                }
            }
            .container-infos.security-information {
                width: 45%;
                h4 {
                    margin-bottom: 10px;
                    margin-left: 20px;
                }
                p {
                    margin: 0px 0px 10px 20px;
                }
                .info.password-profil {
                    padding: 0px 20px 0px 20px;
                    border-bottom: none;
                    border-radius: 0px 0px 10px 10px;
                    #password-profil {
                        margin-bottom: 20px;
                        font-size: 35px;
                        font-weight: 600;
                        margin-left: 0px;
                    }
                }
            }
        }
    }
    @media (max-width: 900px) {
        .user-information {
            max-width: 550px;
            h3 {
                margin: 20px 0px;
                font-size: 25px;
            }
            .description {
                margin-bottom: 20px;
                .txt-description {
                    max-width: 300px;
                    margin-right: 50px;
                    .title-txt-description {
                        font-size: 17px;
                        margin-bottom: 5px;
                    }
                    .paragraphe-description {
                        font-size: 11px;
                        line-height: 17px;
                    }
                }
                .img-description {
                    margin-left: 5px;
                    img {
                        width: 150px;
                        height: 80px;
                    }
                }
            }
            .form-update-user {
                .container-infos  {
                    border-radius: 5px;
                    margin-bottom: 15px;
                    h4 {
                        font-size: 15px;
                        margin: 10px 0px 10px 10px;
                    }
                    .info {
                        padding: 10px 20px 10px 10px;
                        cursor: pointer;
                        &:hover {
                            background-color: rgb(241, 241, 241);
                        }
                        .label {
                            font-size: 10px;
                        }
                        .input {
                            font-size: 12px;
                        }
                        i {
                            font-size: 10px;
                        }
                    }
                    .info.picture-profil {
                        padding: 0px 20px 0px 10px;
                        p {
                            font-size: 12px;
                        }
                        .file-img-picture {
                            margin-top: 10px;
                            p {
                                font-size: 20px;
                                width: 40px;
                                height: 40px;
                            }
                            .icone-camera {
                                top: -16px;
                                left: 5%;
                                width: 37px;
                                height: 15px;
                                i {
                                    font-size: 10px;
                                }
                            }
                        }
                        .img-profil-picture {
                            margin-top: 10px;
                            margin-bottom: 10px;
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .info.gender-profil, .info.phone-profil {
                        border-radius: 0px 0px 5px 5px;
                    }
                }
                .container-infos.security-information {
                    h4 {
                        margin-bottom: 5px;
                        margin-left: 10px;
                    }
                    p {
                        font-size: 10px;
                        margin: 0px 0px 5px 10px;
                    }
                    .info.password-profil {
                        padding: 0px 10px 0px 10px;
                        border-radius: 0px 0px 5px 5px;
                        #password-profil {
                            margin-bottom: 10px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 580px) {
        .user-information {
            margin-top: 55px;
            h3 {
                margin: 10px 0px;
                font-size: 18px;
            }
            max-width: 350px;
            .description {
                margin-bottom: 10px;
                .txt-description {
                    max-width: 200px;
                    margin-right: 25px;
                    .title-txt-description {
                        font-size: 13px;
                        margin-bottom: 3px;
                    }
                    .paragraphe-description {
                        font-size: 10px;
                        line-height: 14px;
                    }
                }
                .img-description {
                    margin-left: 3px;
                    img {
                        width: 100px;
                        height: 70px;
                    }
                }
            }
            .form-update-user {
                .container-infos  {
                    .info.picture-profil {
                        padding: 0px 20px 0px 10px;
                        p {
                            font-size: 10px;
                        }
                        .file-img-picture {
                            p {
                                font-size: 20px;
                                width: 40px;
                                height: 40px;
                            }
                            .icone-camera {
                                top: -16px;
                                left: 5%;
                                width: 37px;
                                height: 15px;
                                i {
                                    font-size: 11px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 355px) {
        .user-information {
            max-width: 300px;
            .form-update-user {
                .container-infos  {
                    .info.picture-profil {
                        padding: 0px 20px 0px 10px;
                        p {
                            font-size: 10px;
                        }
                        .file-img-picture {
                            p {
                                font-size: 20px;
                                width: 40px;
                                height: 40px;
                            }
                            .icone-camera {
                                top: -16px;
                                left: 5%;
                                width: 37px;
                                height: 15px;
                                i {
                                    font-size: 11px;
                                }
                            }
                        }
                        .img-profil-picture {
                            margin-top: 10px;
                            margin-bottom: 10px;
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .info.gender-profil, .info.phone-profil {
                        border-radius: 0px 0px 5px 5px;
                    }
                }
            }
        }
    }
}

.container-user-information.dark {
    background-color: black;
    .user-information {
        h3 {
            color: white;
        }
        .description {
            .txt-description {
               .title-txt-description {
                color: white;
                    .title-txt-description-income {
                        color: green;
                    }
                    .title-txt-description-expense {
                        color: red;
                    }
                }
                .paragraphe-description {
                    color: rgb(204, 204, 204);
                }
            }
        }
        .form-update-user {
            .container-infos {
                h4 {
                    color: white;
                }
                .info {
                    border-bottom: 1px solid rgb(65, 64, 64);
                    &:hover {
                        background-color: rgb(105, 104, 104);
                    }
                    .label {
                        color: white;
                    }
                    .input {
                        color: rgb(255, 255, 255);
                    }
                    i {
                        color: rgb(230, 230, 230);
                    }
                }
                .info.picture-profil {
                    p {
                        color: white;
                    }
                    label {
                        color: white;
                    }
                    .file-img-picture {
                        p {
                            color: rgb(0, 0, 0);
                        }
                        .icone-camera {
                            background-color: rgba(255, 255, 255, 0.24);
                            i {
                                color: rgb(0, 0, 0);
                            }
                        }
                    }
                }
            }
            .container-infos.security-information {
                p {
                    color: white;
                }
            }
        }
    }
}
