.confirmation-page {
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 65vh;
    width: 100%;
    background-color: rgb(255, 240, 240);
    height: 100%;
    p {
        font-size: 35px;
        margin-top: 50px;
    }
    .title-registration {
        font-weight: 600;
    }
    .msg-inscription-done {
        margin-top: 70px;
        text-align: center;
        font-size: 25px;
        color: rgb(0, 136, 84);
        span {
            color: rgb(97, 0, 136);
            text-decoration: underline;
        }
    }
    .btn-resend-email {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 20px;
        background-color: rgb(187, 230, 255);
        border: 2px solid rgb(108, 194, 252);
        border-radius: 20px;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 0px 3px rgb(0, 153, 255);

        }
    }
    .msg-error-resend {
        font-size: 20px;
    }
    @media (max-width: 720px) {
        p {
            text-align: center;
            font-size: 25px;
            margin-top: 30px;
        }
        .msg-inscription-done {
            margin-top: 40px;
            font-size: 15px;
        }
        .btn-resend-email {
            margin-top: 15px;
            padding: 7px 15px;
            font-size: 15px;
            border-radius: 10px;
        }
        .msg-error-resend {
            font-size: 15px;
        }
    }
    @media (max-width: 625px) {
        margin-top: 45px;
    }
    @media (max-width: 580px) {
        p {
            font-size: 18px;
            margin-top: 20px;
        }
        .msg-inscription-done {
            margin-top: 20px;
            font-size: 10px;
        }
        .btn-resend-email {
            margin-top: 10px;
            padding: 5px 10px;
            font-size: 10px;
            border-radius: 5px;
        }
        .msg-error-resend {
            font-size: 10px;
        }
        
    }
}